In [1]:
import pandas as pd

In [2]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: 7C14-DB70

 Directorio de C:\Users\UTPL\Documents\clase01-2bim-ricardoifc

03/12/2019  10:09    <DIR>          .
03/12/2019  10:09    <DIR>          ..
03/12/2019  10:09    <DIR>          .ipynb_checkpoints
03/12/2019  10:08    <DIR>          data
03/12/2019  10:08             5.232 Ejemplo1.ipynb
03/12/2019  10:09                72 ejercicio1.ipynb
03/12/2019  09:57                16 README.md
               3 archivos          5.320 bytes
               4 dirs  327.222.476.800 bytes libres

In [4]:
data = pd.read_csv('data/data2.csv', sep=",")

In [7]:
data ['peso']

0      2440
1      3600
2      2800
3      2900
4      2820
       ...
144    3000
145    2860
146    3200
147    2770
148    3000
Name: peso, Length: 149, dtype: int64

In [9]:
data.keys()

Index(['peso', 'tipo_part', 'anio_0c', 'mes_0c', 'dia_0c', 'lugar_ocur',
       'cant_0c', 'edad_mad'],
      dtype='object')

In [11]:
data[['mes_0c', 'peso']]

         mes_0c  peso
0         Junio  2440
1         Julio  3600
2         Julio  2800
3         Julio  2900
4         Julio  2820
..          ...   ...
144       Marzo  3000
145      Agosto  2860
146       Junio  3200
147  Septiembre  2770
148       Julio  3000

[149 rows x 2 columns]

In [12]:
data['mes_0c']

0           Junio
1           Julio
2           Julio
3           Julio
4           Julio
          ...
144         Marzo
145        Agosto
146         Junio
147    Septiembre
148         Julio
Name: mes_0c, Length: 149, dtype: object

In [13]:
data['mes_0c'].unique()

array(['Junio', 'Julio', 'Diciembre', 'Enero', 'Mayo', 'Marzo', 'Agosto',
       'Septiembre', 'Octubre', 'Abril', 'Noviembre', 'Febrero'],
      dtype=object)

In [18]:
meses = list(data['mes_0c'].unique())

In [19]:
meses.__class__

list

In [20]:
data['dia_0c'].unique()

array([17,  1, 15,  3, 10, 24, 20, 13,  7,  4, 19,  9, 27, 26, 23, 18, 12,
        2, 25,  8, 29, 30, 28, 21,  6, 16, 22,  5, 11], dtype=int64)

In [24]:
dias =list(data['dia_0c'].unique())
print(dias)

[17, 1, 15, 3, 10, 24, 20, 13, 7, 4, 19, 9, 27, 26, 23, 18, 12, 2, 25, 8, 29, 30, 28, 21, 6, 16, 22, 5, 11]

In [22]:
dias.__class__

list

In [33]:
meses = list(data['mes_0c'])
print(meses)
dias =list(data['dia_0c'])
print(dias)
peso =list(data['peso'])
print(peso)

['Junio', 'Julio', 'Julio', 'Julio', 'Julio', 'Julio', 'Diciembre', 'Junio', 'Junio', 'Enero', 'Junio', 'Junio', 'Junio', 'Junio', 'Junio', 'Mayo', 'Junio', 'Junio', 'Julio', 'Marzo', 'Mayo', 'Agosto', 'Septiembre', 'Julio', 'Junio', 'Junio', 'Mayo', 'Julio', 'Agosto', 'Agosto', 'Julio', 'Julio', 'Julio', 'Septiembre', 'Septiembre', 'Octubre', 'Julio', 'Junio', 'Julio', 'Junio', 'Mayo', 'Julio', 'Junio', 'Julio', 'Agosto', 'Diciembre', 'Diciembre', 'Agosto', 'Abril', 'Junio', 'Julio', 'Enero', 'Junio', 'Junio', 'Marzo', 'Junio', 'Septiembre', 'Diciembre', 'Abril', 'Octubre', 'Junio', 'Septiembre', 'Mayo', 'Junio', 'Agosto', 'Enero', 'Noviembre', 'Junio', 'Julio', 'Septiembre', 'Julio', 'Mayo', 'Julio', 'Junio', 'Julio', 'Julio', 'Junio', 'Agosto', 'Julio', 'Junio', 'Enero', 'Julio', 'Agosto', 'Julio', 'Julio', 'Julio', 'Julio', 'Agosto', 'Abril', 'Septiembre', 'Abril', 'Julio', 'Agosto', 'Julio', 'Junio', 'Agosto', 'Agosto', 'Abril', 'Junio', 'Febrero', 'Julio', 'Junio', 'Junio', 'Julio', 'Abril', 'Julio', 'Julio', 'Julio', 'Mayo', 'Agosto', 'Agosto', 'Julio', 'Junio', 'Julio', 'Julio', 'Junio', 'Agosto', 'Junio', 'Julio', 'Agosto', 'Julio', 'Agosto', 'Julio', 'Noviembre', 'Junio', 'Junio', 'Mayo', 'Julio', 'Septiembre', 'Junio', 'Abril', 'Octubre', 'Agosto', 'Julio', 'Agosto', 'Julio', 'Mayo', 'Agosto', 'Julio', 'Agosto', 'Mayo', 'Julio', 'Julio', 'Agosto', 'Marzo', 'Agosto', 'Junio', 'Septiembre', 'Julio']
[17, 1, 15, 3, 10, 24, 20, 13, 7, 3, 4, 19, 7, 9, 27, 26, 23, 18, 12, 2, 10, 25, 8, 7, 1, 29, 24, 8, 15, 1, 4, 30, 7, 10, 28, 17, 7, 23, 2, 30, 9, 8, 9, 17, 10, 17, 15, 28, 21, 10, 8, 6, 1, 2, 15, 26, 9, 12, 15, 10, 16, 2, 24, 13, 9, 4, 21, 23, 2, 4, 8, 15, 8, 22, 5, 26, 29, 8, 3, 16, 21, 29, 20, 7, 11, 7, 10, 19, 30, 8, 19, 6, 21, 8, 30, 20, 20, 8, 22, 21, 5, 6, 27, 1, 3, 5, 6, 7, 6, 12, 4, 7, 24, 6, 7, 18, 26, 12, 7, 27, 4, 7, 23, 27, 2, 29, 30, 17, 16, 20, 22, 9, 23, 8, 16, 1, 20, 6, 16, 7, 15, 5, 5, 2, 27, 24, 30, 9, 2]
[2440, 3600, 2800, 2900, 2820, 3100, 3000, 2900, 0, 3600, 0, 2700, 3100, 3100, 2700, 3000, 3300, 3000, 0, 2900, 3400, 3200, 3350, 1420, 3400, 3250, 0, 2800, 3540, 3120, 3000, 2800, 2710, 3000, 0, 0, 3400, 3200, 99, 2840, 3300, 2870, 2950, 2810, 3170, 0, 0, 3500, 3000, 3160, 1260, 3000, 2930, 3200, 2715, 3580, 2800, 2770, 3500, 2400, 4800, 0, 0, 3000, 3500, 0, 0, 2500, 3160, 2700, 3290, 3500, 2200, 3620, 1850, 3760, 3000, 3130, 1830, 2700, 0, 2950, 3800, 1350, 2500, 940, 3250, 2540, 2850, 3000, 3600, 2000, 2790, 1800, 3400, 3060, 0, 0, 2940, 99, 3730, 3100, 3660, 2700, 3380, 3650, 1110, 1700, 3500, 3300, 3200, 2850, 3000, 2760, 1330, 3181, 2900, 2700, 2940, 3100, 2700, 3135, 0, 0, 3400, 3050, 3320, 3730, 3200, 3181, 3750, 3600, 3990, 3017, 3300, 3220, 3200, 3400, 3099, 3850, 2800, 1470, 2090, 3340, 3000, 2860, 3200, 2770, 3000]

In [60]:
lista2Ord = list(sorted(list(zip(meses, dias, peso)), key = lambda x: (x[1] ,x[2])))
print(listaOrdenada)

[('Julio', 1, 2700), ('Junio', 1, 2930), ('Agosto', 1, 3120), ('Julio', 1, 3220), ('Junio', 1, 3400), ('Julio', 1, 3600), ('Septiembre', 2, 0), ('Julio', 2, 99), ('Marzo', 2, 2900), ('Julio', 2, 3000), ('Julio', 2, 3160), ('Junio', 2, 3200), ('Agosto', 2, 3340), ('Junio', 2, 3400), ('Julio', 3, 1830), ('Julio', 3, 2900), ('Abril', 3, 3380), ('Enero', 3, 3600), ('Junio', 4, 0), ('Enero', 4, 0), ('Septiembre', 4, 2700), ('Julio', 4, 2700), ('Julio', 4, 3000), ('Agosto', 4, 3200), ('Julio', 5, 1470), ('Julio', 5, 1850), ('Julio', 5, 2090), ('Julio', 5, 3650), ('Julio', 5, 3730), ('Julio', 6, 1110), ('Julio', 6, 2000), ('Julio', 6, 2760), ('Enero', 6, 3000), ('Junio', 6, 3100), ('Agosto', 6, 3400), ('Mayo', 6, 3500), ('Junio', 7, 0), ('Julio', 7, 940), ('Julio', 7, 1330), ('Julio', 7, 1350), ('Julio', 7, 1420), ('Julio', 7, 1700), ('Julio', 7, 2710), ('Julio', 7, 2850), ('Julio', 7, 2940), ('Junio', 7, 3100), ('Agosto', 7, 3135), ('Julio', 7, 3400), ('Agosto', 7, 3850), ('Abril', 8, 0), ('Julio', 8, 1260), ('Julio', 8, 1800), ('Julio', 8, 2200), ('Julio', 8, 2800), ('Julio', 8, 2870), ('Septiembre', 8, 3000), ('Julio', 8, 3017), ('Agosto', 8, 3130), ('Julio', 8, 3290), ('Septiembre', 8, 3350), ('Septiembre', 9, 2770), ('Septiembre', 9, 2800), ('Junio', 9, 2950), ('Junio', 9, 3100), ('Mayo', 9, 3300), ('Agosto', 9, 3500), ('Octubre', 9, 3600), ('Octubre', 10, 2400), ('Julio', 10, 2820), ('Septiembre', 10, 3000), ('Junio', 10, 3160), ('Agosto', 10, 3170), ('Julio', 10, 3250), ('Mayo', 10, 3400), ('Julio', 11, 2500), ('Julio', 12, 0), ('Junio', 12, 2700), ('Diciembre', 12, 2770), ('Agosto', 12, 3300), ('Junio', 13, 2900), ('Junio', 13, 3000), ('Diciembre', 15, 0), ('Marzo', 15, 2715), ('Julio', 15, 2800), ('Mayo', 15, 2800), ('Abril', 15, 3500), ('Mayo', 15, 3500), ('Agosto', 15, 3540), ('Junio', 16, 2700), ('Julio', 16, 3099), ('Septiembre', 16, 3200), ('Agosto', 16, 3300), ('Junio', 16, 4800), ('Octubre', 17, 0), ('Diciembre', 17, 0), ('Junio', 17, 2440), ('Julio', 17, 2810), ('Julio', 17, 3730), ('Junio', 18, 3000), ('Junio', 18, 3181), ('Agosto', 19, 2540), ('Junio', 19, 2700), ('Abril', 19, 3600), ('Agosto', 20, 0), ('Diciembre', 20, 3000), ('Agosto', 20, 3060), ('Junio', 20, 3181), ('Mayo', 20, 3200), ('Agosto', 20, 3800), ('Noviembre', 21, 0), ('Enero', 21, 0), ('Febrero', 21, 99), ('Agosto', 21, 2790), ('Abril', 21, 3000), ('Junio', 22, 2940), ('Junio', 22, 3620), ('Abril', 22, 3750), ('Julio', 23, 0), ('Junio', 23, 2500), ('Junio', 23, 3200), ('Junio', 23, 3300), ('Agosto', 23, 3990), ('Mayo', 24, 0), ('Mayo', 24, 0), ('Agosto', 24, 2860), ('Junio', 24, 3000), ('Julio', 24, 3100), ('Agosto', 25, 3200), ('Agosto', 26, 2900), ('Mayo', 26, 3000), ('Junio', 26, 3580), ('Julio', 26, 3760), ('Noviembre', 27, 0), ('Junio', 27, 2700), ('Marzo', 27, 3000), ('Agosto', 27, 3100), ('Junio', 27, 3660), ('Septiembre', 28, 0), ('Agosto', 28, 3500), ('Julio', 29, 2950), ('Junio', 29, 3000), ('Junio', 29, 3050), ('Junio', 29, 3250), ('Julio', 30, 2800), ('Junio', 30, 2840), ('Abril', 30, 2850), ('Junio', 30, 3200), ('Mayo', 30, 3320), ('Junio', 30, 3400)]